{% extends "base.html" %}
{% load static %}

{% block title %}
    صفحه اصلی
{% endblock %}




{% block content %}
    <!--====================================Start Main========================================-->
<main>
    <div
            id="home-slider"
            class="carousel slide d-none d-md-block"
            data-bs-ride="false"
    >
        <div class="carousel-indicators">
            <button
                    type="button"
                    data-bs-target="#home-slider"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
            ></button>
            <button
                    type="button"
                    data-bs-target="#home-slider"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
            ></button>
            <button
                    type="button"
                    data-bs-target="#home-slider"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
            ></button>
        </div>
        <div class="carousel-inner position-relative">
            <div class="carousel-item active">
                <div
                        class="overlay position-absolute top-0 start-0 w-100 h-100 bg-black bg-opacity-25"
                ></div>
                <img src="{% static 'img/banner2.jpg' %}" alt="slider1" class="d-block w-100"/>
            </div>
            <div class="carousel-item">
                <div
                        class="overlay position-absolute top-0 start-0 w-100 h-100 bg-black bg-opacity-25"
                ></div>
                <img src="{% static 'img/banner2.jpg' %}" alt="slider2" class="d-block w-100"/>
            </div>
            <div class="carousel-item">
                <div
                        class="overlay position-absolute top-0 start-0 w-100 h-100 bg-black bg-opacity-25"
                ></div>
                <img src="{% static 'img/banner2.jpg' %}" alt="slider3" class="d-block w-100"/>
            </div>
        </div>
        <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#home-slider"
                data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#home-slider"
                data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--=========================================End Slider===============================================-->
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 category-slider">
                <a href="#" class="category-item px-1">
                    <div class="card border-0 card-hover-1">
                        <div class="card-body text-center">
                            <img src="{% static 'img/apple.png' %}" alt="" class="img-fluid mx-auto"/>
                            <strong class="d-block mt-2"> گوشی</strong>
                        </div>
                    </div>
                </a>
                <a href="#" class="category-item px-1">
                    <div class="card border-0 card-hover-1">
                        <div class="card-body text-center">
                            <img
                                    src="{% static 'img/tablet.png' %}"
                                    alt=""
                                    class="img-fluid mx-auto"
                            />
                            <strong class="d-block mt-2"> تبلت</strong>
                        </div>
                    </div>
                </a>
                <a href="#" class="category-item px-1">
                    <div class="card border-0 card-hover-1">
                        <div class="card-body text-center">
                            <img src="{% static 'img/watch.png' %}" alt="" class="img-fluid mx-auto"/>
                            <strong class="d-block mt-2"> ساعت هوشمند</strong>
                        </div>
                    </div>
                </a>
                <a href="#" class="category-item px-1">
                    <div class="card border-0 card-hover-1">
                        <div class="card-body text-center">
                            <img
                                    src="{% static 'img/laptop.png' %}"
                                    alt=""
                                    class="img-fluid mx-auto"
                            />
                            <strong class="d-block mt-2"> لپتاپ</strong>
                        </div>
                    </div>
                </a>
                <a href="#" class="category-item px-1">
                    <div class="card border-0 card-hover-1">
                        <div class="card-body text-center">
                            <img
                                    src="{% static 'img/airpods.png' %}"
                                    alt=""
                                    class="img-fluid mx-auto"
                            />
                            <strong class="d-block mt-2">هدفون</strong>
                        </div>
                    </div>
                </a>
                <a href="#" class="category-item px-1">
                    <div class="card border-0 card-hover-1">
                        <div class="card-body text-center">
                            <img
                                    src="{% static 'img/playstation.png' %}"
                                    alt=""
                                    class="img-fluid mx-auto"
                            />
                            <strong class="d-block mt-2">کنسول</strong>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--===============================Start Services=======================================-->
    <div class="container">
        <div class="row my-4">
            <div
                    class="col-12 d-flex flex-column flex-lg-row justify-content-between"
            >
                <a href="#" class="flex-grow-1 me-lg-3">
                    <div class="card border-0 card-hover-1 mb-4 mb-lg-0">
                        <div
                                class="card-body d-flex justify-content-between text-center align-items-center"
                        >
                            <div
                                    class="d-flex flex-column justify-content-center text-start"
                            >
                                <strong class="d-block mb-2">ارسال رایگان</strong>
                                <small class="d-block" style="font-size: 12px"
                                >برای خرید های بالای 250هزار تومان</small
                                >
                            </div>
                            <img
                                    src="{% static 'img/delivery.png' %}"
                                    class="img-fluid img-icon"
                                    alt="deliveri"
                            />
                        </div>
                    </div>
                </a>
                <a href="#" class="flex-grow-1 me-lg-3">
                    <div class="card border-0 card-hover-1 mb-4 mb-lg-0">
                        <div
                                class="card-body d-flex justify-content-between text-center"
                        >
                            <div
                                    class="d-flex flex-column justify-content-center text-start"
                            >
                                <strong class="d-block mb-2"> محصولات اورجینال</strong>
                                <small class="d-block" style="font-size: 12px"
                                >ضمانت ارائه محصولات اورجینال
                                </small>
                            </div>
                            <img
                                    src="{% static 'img/original.png' %}"
                                    class="img-fluid img-icon"
                                    alt="deliveri"
                            />
                        </div>
                    </div>
                </a>
                <a href="#" class="flex-grow-1">
                    <div class="card border-0 card-hover-1 mb-4 mb-lg-0">
                        <div
                                class="card-body d-flex justify-content-between text-center"
                        >
                            <div
                                    class="d-flex flex-column justify-content-center text-start"
                            >
                                <strong class="d-block mb-2">مهلت تست 7 روزه</strong>
                                <small class="d-block" style="font-size: 12px"
                                >بازگشت وجه در صورت عدم رضایت</small
                                >
                            </div>
                            <img
                                    src="{% static 'img/refund.png' %}"
                                    class="img-fluid img-icon"
                                    alt="deliveri"
                            />
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--===============================End Services=======================================-->
    <!--====================================start newest=========================================-->
    <div class="newest my-5 py-5">
        <div class="container bg-transparent">
            <div class="bold text-center">
                <h5 class="d-block" style="font-weight: 800">جدیدترین محصولات</h5>
                <small
                        class="text-muted d-block text-center"
                        style="letter-spacing: 5px"
                >Lastest Productions</small
                >
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card border-0 shadow-none bg-transparent">
                        <div class="card-body">
                            <div class="slider-brands position-relative">
                    <span class="my-slick-arrows next-arrow-newest"
                    ><i class="fas fa-chevron-right"></i
                    ></span>
                                <span class="my-slick-arrows prev-arrow-newest"
                                ><i class="fas fa-chevron-left"></i
                                ></span>
                                <div class="slider-newest">
                                    <!--card product1-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/iphone1.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!--card product2-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/iphone2.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!--card product3-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/aw1.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!--card product4-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/head2.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!--card product5-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/air1.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================================end newest=========================================-->
    <!--====================================start phones=========================================-->
    <div class="phones">
        <div class="container bg-transparent">
            <div class="bold text-center">
                <h5 class="d-block" style="font-weight: 800">جدیدترین گوشی ها</h5>
                <small
                        class="text-muted d-block text-center"
                        style="letter-spacing: 5px"
                >Lastest phones</small
                >
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card border-0 shadow-none bg-transparent">
                        <div class="card-body">
                            <div class="slider-brands position-relative">
                    <span class="my-slick-arrows next-arrow-phones"
                    ><i class="fas fa-chevron-right"></i
                    ></span>
                                <span class="my-slick-arrows prev-arrow-phones"
                                ><i class="fas fa-chevron-left"></i
                                ></span>
                                <div class="slider-phones">
                                    <!--card product1-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/iphone1.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!--card product2-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/iphone2.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!--card product3-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/iphone3.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!--card product4-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/iphone4.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!--card product5-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/iphone5.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================================end phones=========================================-->

    <!--====================================start watches=========================================-->
    <div class="whatches my-4">
        <div class="container bg-transparent">
            <div class="bold text-center">
                <h5 class="d-block" style="font-weight: 800">جدیدترین ساعت ها</h5>
                <small
                        class="text-muted d-block text-center"
                        style="letter-spacing: 5px"
                >Lastest watches</small
                >
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card border-0 shadow-none bg-transparent">
                        <div class="card-body">
                            <div class="slider-brands position-relative">
                    <span class="my-slick-arrows next-arrow-watches"
                    ><i class="fas fa-chevron-right"></i
                    ></span>
                                <span class="my-slick-arrows prev-arrow-watches"
                                ><i class="fas fa-chevron-left"></i
                                ></span>
                                <div class="slider-watches">
                                    <!--card product1-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/aw1.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!--card product2-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/aw2.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!--card product3-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/aw3.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!--card product4-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/aw1.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!--card product5-->
                                    <div class="col-12 col-lg-3 px-2">
                                        <div class="card border-0 card-hover-2">
                                            <div class="card-img-top card-img-home">
                                                <div class="overlay-card"></div>
                                                <img
                                                        src="{% static 'img/aw2.jpg' %}"
                                                        alt=""
                                                        class="img-fluid card-img-product"
                                                />
                                            </div>
                                            <div class="card-body">
                                                <a
                                                        href="#"
                                                        class="d-block text-center title-product"
                                                >گوشی آیفون 12 مدل128گیگ</a
                                                >
                                                <div
                                                        class="d-flex justify-content-between align-items-center mt-3"
                                                >
                                                    <small class="text-muted">28,000,000 تومان</small>
                                                    <p class="mb-0">23,000,000 تومان</p>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-transparent">
                                                <a href="#" class="btn d-block"
                                                ><i
                                                        class="fas fa-shopping-cart align-middle me-1"
                                                ></i
                                                >افزودن به سبد خرید</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================================end watches=========================================-->

    {% include 'includes/footer_info.html' %}
</main>

{% endblock %}