.continu-sell {
  background-color: #5bbeff;
  color: #fff;
  padding: 5px 25px;
  transition: 0.2s;
  &:hover {
    background-color: #247bb5;
    color: #fff;
  }
}
.check-out-btn {
  background: #43a047;
  color: #fff;
  transition: 0.2s;
  padding: 5px 25px;
  &:hover {
    background-color: #2e7d32;
    color: #fff;
  }
}
