.contact-us {
  .small-contact {
    font-size: 12px;
    letter-spacing: 2px;
  }
}
.desc-contact {
  font-size: 13px;
  line-height: 2.2;
  text-align: justify;
  color: gray;
  font-weight: 300;
}
.link-dl-contact textarea::placeholder {
  font-size: 11px;
  font-weight: 300;
  color: gray;
}
.link-dl-contact button {
  background: #5bbeff;
  color: #fff;
  width: 100%;
  &:hover {
    background: #2e97de;
    color: #fff;
  }
}
