{% load static %}

<footer class="mt-5">
    <div class="footer-top text-center text-lg-start py-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <p>منوی محصولات</p>
                    <a href="#" class="d-block"> گوشی</a>
                    <a href="#" class="d-block">تبلت</a>
                    <a href="#" class="d-block">کنسول بازی</a>
                    <a href="#" class="d-block">لوازم جانبی گوشی</a>
                    <a href="#" class="d-block">لوازم جانبی تبلت</a>
                    <a href="#" class="d-block">لوازم جانبی اپل واچ</a>
                </div>
                <div class="col-12 col-lg-3">
                    <p>منوی محصولات</p>
                    <a href="#" class="d-block"> گوشی</a>
                    <a href="#" class="d-block">تبلت</a>
                    <a href="#" class="d-block">کنسول بازی</a>
                    <a href="#" class="d-block">لوازم جانبی گوشی</a>
                    <a href="#" class="d-block">لوازم جانبی تبلت</a>
                    <a href="#" class="d-block">لوازم جانبی اپل واچ</a>
                </div>
                <div class="col-12 col-lg-3">
                    <p>منوی محصولات</p>
                    <a href="#" class="d-block"> گوشی</a>
                    <a href="#" class="d-block">تبلت</a>
                    <a href="#" class="d-block">کنسول بازی</a>
                    <a href="#" class="d-block">لوازم جانبی گوشی</a>
                    <a href="#" class="d-block">لوازم جانبی تبلت</a>
                    <a href="#" class="d-block">لوازم جانبی اپل واچ</a>
                </div>
                <div class="col-12 col-lg-3">
                    <p>منوی محصولات</p>
                    <p class="mb-0 text-footer">
                        ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                        استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                        نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-botom">
        <small class="d-block py-3 text-center text-white"
        >کلیه حقوق این وبسایت تحت مالکیت علی اسدپور است!</small
        >
    </div>
</footer>