{% extends "base.html" %}
{% load static %}

{% block title %}
    Product List
{% endblock %}

{% block content %}
    <!--====================================Start Main========================================-->
    <main>
        <div class="container my-5">
            <div class="row">
                <div class="col-12 mb-5">
                    <div class="card border-0 breadcrumb-card">
                        <div
                                class="card-body d-flex flex-column flex-lg-row justify-content-between align-items-center"
                        >
                            <div
                                    class="breadcrumb breadcrumb-about bg-transparent pb-0 mb-0"
                            >
                                <a href="{% url "home:main" %}" class="breadcrumb-item"
                                >فروشگاه اینترنتی همیار مارکت</a
                                >
                                <a href="#" class="breadcrumb-item active">محصولات</a>
                            </div>

                        </div>
                    </div>
                </div>

                <!--finished breadcramp-->
                <div class="col-12 col-lg-3">
                    <form method="get">
                        <div class="card border-0 sidebar-box">
                            <div class="card-body">
                                <p class="px-3 py-1">جست وجو</p>
                                <div class="link-dl my-3 mt-lg-0 position-relative">
                                    <div class="input-group">
                                        <span class="input-group-text">جست وجو</span>
                                        <input type="text" class="form-control" name="search" {% if request.GET.search %} value="{{ request.GET.search }}" {% endif %}/>
                                    </div>
                                    <button class="btn position-absolute text-muted">
                                        <i class="fas fa-search align-middle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--finish serch and tags-->
                        <div class="card border-0 sidebar-box mt-4">
                            <div class="card-body">
                                <p class="px-3 py-1">دسته بندی ها</p>

                                {% for category in categories %}
                                    <div class="d-flex justify-content-between align-items-center mt-3 mb-2 px-2">
                                        <div class="custom-control custom-check ps-0 d-flex align-items-center justify-content-center gap-1">
                                            <input type="checkbox" class="custom-control-input" id="{{ category.id }}" value="{{ category.name }}" name="category" {% if category.name in active_categories %} checked {% endif %}/>
                                            <label for="cucheck1" class="custom-control-label">
                                                <small>{{ category.name }} </small>
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--end brand search-->
                        <div class="card border-0 sidebar-box mt-4">
                            <div class="card-body">
                                <p class="px-3 py-1">جستجوی قیمت</p>
                                <div class="link-dl my-3 mt-lg-0 position-relative">
                                    <div class="input-group">
                                        <span class="input-group-text">از</span>
                                        <input type="text" class="form-control" name="min_price" {% if request.GET.min_price %} value="{{ request.GET.min_price }}" {% endif %}/>
                                    </div>
                                    <button class="btn position-absolute text-muted">
                                        تومان
                                    </button>
                                </div>
                                <div class="link-dl my-3 mt-lg-0 position-relative">
                                    <div class="input-group">
                                        <span class="input-group-text">تا</span>
                                        <input type="text" class="form-control" name="max_price" {% if request.GET.max_price %} value="{{ request.GET.max_price }}" {% endif %}/>
                                    </div>
                                    <button class="btn position-absolute text-muted">
                                        تومان
                                    </button>
                                </div>
                            </div>
                        </div>
                    <button class="btn btn-danger w-100 mt-3" type="submit">اعمال فیلتر</button>
                    </form>
                </div>
                <!--End Sidebar-->
                <div class="col-12 col-lg-9">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-12 col-lg-4 col-md-6 mb-3">
                                <div class="card border-0 card-hover-2">
                                    <div class="card-img-top card-img-home">
                                        <div class="overlay-card"></div>
                                        <img
                                                src="{{ product.image_set.all.0.image.url }}"
                                                alt=""
                                                class="img-fluid card-img-product"
                                        />
                                    </div>
                                    <div class="card-body">
                                        <a href="{% url "product:detail" product.id %}"
                                           class="d-block text-center title-product"
                                        >{{ product.name }}</a
                                        >
                                        <div class="d-flex mt-3 price-div justify-content-center gap-2">
                                            {% if product.discount != 0 %}
                                                <small class="text-muted">{{ product.price }}</small>
                                            {% endif %}
                                            <p class="mb-0">{{ product.get_total_price }} تومان</p>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <a href="#" class="btn d-block"
                                        ><i class="fas fa-shopping-cart align-middle me-1"></i
                                        >افزودن به سبد خرید</a
                                        >
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'includes/footer_info.html' %}
{% endblock %}