{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% include "includes/header_links.html" %}
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-light">

{% include "includes/header.html" %}



{% block content %}
    
{% endblock %}

{% include "includes/footer.html" %}

<!--=======================================Scripts========================================-->
{% include "includes/footer_links.html" %}
</body>
</html>
